<link href="~/Content/_Layout3.css" rel="stylesheet" />

<div class="layout3">
    <div style=" margin-left: 25px;" class="layout3-child">
        <a class="kitaplik" href="#">Kitaplık</a>
        <div id="hidden"></div>
    </div>
    <div class="layout3-child">
        <a class="duvar" href="#">Duvar</a>
        <div id="hidden1"></div>
    </div>
    <div class="layout3-child">
        <a class="incelemeler" href="#">İncelemeler</a>
        <div id="hidden2"></div>
    </div>
    <div class="layout3-child">
        <a class="alıntılar" href="#">Alıntılar</a>
        <div id="hidden3"></div>
    </div>
    <div class="layout3-child">
        <a class="iletiler" href="#">İletiler</a>
        <div id="hidden4"></div>
    </div>
    <div class="layout3-child">
        <a class="hedef" href="#">Okuma Hedefleri</a>
        <div id="hidden5"></div>
    </div>
    <div class="layout3-child">
        <a class="yorumlar" href="#">Yorumlar</a>
        <div id="hidden6"></div>
    </div>
</div>
