<link href="~/Content/layout3.css" rel="stylesheet" />
<div class="profile">
    <div class="profile-information">
        <div class="cover-photo"><img class="cphoto" src="~/cover-photo.jpg" alt="Alternate Text" /></div>
        <div class="profile-buttons">
            <div class="profilephoto">
                <img class="pphoto" src="~/profile-photo.jpeg" alt="Alternate Text" />
            </div>
            <div class="deneme">
                <button style="width: 35px; height: 35px;"><i class="far fa-clone"></i></button>
                <button style="width: 35px; height: 35px; "><i class="fas fa-ellipsis-h"></i></button>
                <button onclick="window.location.href='/Edit'" style="cursor:pointer; font-weight:600;font-size:14px;width: 150px; height: 35px; margin-right: 25px">PROFİLİMİ DÜZENLE</button>
            </div>
        </div>
        <div class="person-name"><p>Elif Sare SARI</p></div>
        <div class="person-username"><p>@@elifsaresari</p></div>
        <div class="person-birthday"><i style="font-size: 12px; color: rgba(93,93,93,1.00);margin-right:5px;" class="fas fa-birthday-cake"></i><p>11 Mayıs 2000</p></div>
        <div class="person-history"><i style="font-size: 12px; color: rgba(93,93,93,1.00); margin-right:5px;" class="fas fa-history"></i><p>27 Şubat 17.55 tarihinde katıldı.</p></div>
        <div class="person-post-information">
            <div><p><span>0</span> Kitap</p></div>
            <div><p><span>0</span> Takip Edilen</p></div>
            <div><p><span>0</span> Takipçi</p></div>
            <div><p><span>0</span> İnceleme</p></div>
            <div><p><span>0</span> Alıntı</p></div>
            <div><p><span>0</span> İleti</p></div>

        </div>
        <div class="layout3">
            <div style=" margin-left: 25px;" class="layout3-child">
                <a class="kitaplik" href="/Profile/Kitaplik">Kitaplık</a>
                <div id="hidden"></div>
            </div>
            <div class="layout3-child">
                <a class="duvar" href="/Profile">Duvar</a>
                <div id="hidden1"></div>
            </div>
            <div class="layout3-child">
                <a class="incelemeler" href="/Profile/İncelemeler">İncelemeler</a>
                <div id="hidden2"></div>
            </div>
            <div class="layout3-child">
                <a class="alintilar" href="/Profile/Alıntılar">Alıntılar</a>
                <div id="hidden3"></div>
            </div>
            <div class="layout3-child">
                <a class="iletiler" href="/Profile/İletiler">İletiler</a>
                <div id="hidden4"></div>
            </div>
            <div class="layout3-child">
                <a class="hedef" href="/Profile/Hedefler">Okuma Hedefleri</a>
                <div id="hidden5"></div>
            </div>
            <div class="layout3-child">
                <a class="yorumlar" href="/Profile/Yorumlar">Yorumlar</a>
                <div id="hidden6"></div>
            </div>
        </div>


    </div>
</div>

