<link href="~/Content/Layout2.css" rel="stylesheet" />


<div class="kesfet-title">
    <h1>Keşfet</h1>
    <div class="menu">
        <div class="menu-child">
            <a class="enyeni" href="/Kesfet/Enyeniler">En Yeniler</a>
            <div id="hidden"></div>
        </div>
        <div class="menu-child">
            <a class="yukselenler" href="/Kesfet">Yükselenler</a>
            <div id="hidden2"></div>
        </div>
        <div class="menu-child">
            <a class="onecikan"  href="/Kesfet/Onecıkanlar">Öne Çıkanlar</a>
            <div id="hidden3"></div>
        </div>
        <div class="menu-child">
            <a class="ilgigorenler" href="/Kesfet/Ilgigorenler">İlgi Görenler</a>
            <div id="hidden4"></div>
        </div>
    </div>
</div>
