
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Profile.css" rel="stylesheet" />

<div class="container">
    @Html.Partial("~/Views/Person/Kisiprofil.cshtml")
    @Html.Partial("~/Views/Sidebar/Sidebar.cshtml")
</div>

