
@{
    ViewBag.Title = "İletiler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/İletiler.css" rel="stylesheet" />

<div class="container">
    <div class="container-iletiler">
        @Html.Partial("~/Views/Shared/_Layout3.cshtml")

        <div class="kesfet">
            <div class="enyeni-profile">
                <img class="enyeni-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="enyeni-profile-info">
                    <p class="enyeni-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="enyeni-profile-username ">
                        <a class="enyeni-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="enyeni-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="enyeni-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>

        </div>
        <div class="kesfet">
            <div class="enyeni-profile">
                <img class="enyeni-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="enyeni-profile-info">
                    <p class="enyeni-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="enyeni-profile-username ">
                        <a class="enyeni-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="enyeni-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="enyeni-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>

        </div>

        <div class="kesfet">
            <div class="enyeni-profile">
                <img class="enyeni-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="enyeni-profile-info">
                    <p class="enyeni-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="enyeni-profile-username ">
                        <a class="enyeni-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="enyeni-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="enyeni-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>

        </div>

        <div class="kesfet">
            <div class="enyeni-profile">
                <img class="enyeni-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="enyeni-profile-info">
                    <p class="enyeni-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="enyeni-profile-username ">
                        <a class="enyeni-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="enyeni-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="enyeni-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Sidebar/Sidebar.cshtml")
</div>

