<link href="~/Content/Onecikanlar1.css" rel="stylesheet" />
<div class="container">
    <div class="kesfet-page">

        @Html.Partial("~/Views/Shared/_Layout2.cshtml")

        <div class="kesfet">
            <div class="onecikanlar-profile">
                <img class="onecikanlar-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="onecikanlar-profile-info">
                    <p class="onecikanlar-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="onecikanlar-profile-username ">
                        <a class="onecikanlar-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="onecikanlar-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="onecikanlar-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>
        </div>
        <div class="kesfet">
            <div class="onecikanlar-profile">
                <img class="onecikanlar-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="onecikanlar-profile-info">
                    <p class="onecikanlar-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="onecikanlar-profile-username ">
                        <a class="onecikanlar-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="onecikanlar-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="onecikanlar-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>
        </div>
        <div class="kesfet">
            <div class="onecikanlar-profile">
                <img class="onecikanlar-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="onecikanlar-profile-info">
                    <p class="onecikanlar-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="onecikanlar-profile-username ">
                        <a class="onecikanlar-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="onecikanlar-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="onecikanlar-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>
        </div>
        <div class="kesfet">
            <div class="onecikanlar-profile">
                <img class="onecikanlar-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="onecikanlar-profile-info">
                    <p class="onecikanlar-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="onecikanlar-profile-username ">
                        <a class="onecikanlar-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="onecikanlar-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="onecikanlar-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>
        </div>
        <div class="kesfet">
            <div class="onecikanlar-profile">
                <img class="onecikanlar-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="onecikanlar-profile-info">
                    <p class="onecikanlar-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="onecikanlar-profile-username ">
                        <a class="onecikanlar-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="onecikanlar-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="onecikanlar-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>
        </div>
        <div class="kesfet">
            <div class="onecikanlar-profile">
                <img class="onecikanlar-profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
                <div class="onecikanlar-profile-info">
                    <p class="onecikanlar-profile-name">
                        <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                    </p>
                    <p class="onecikanlar-profile-username ">
                        <a class="onecikanlar-light-font" href="/Home/Users/elifsaresari">@@elifsaresari</a>
                    </p>
                </div>
            </div>
            <div class="onecikanlar-info">
                Toplumun düzeltilmesinin temeli, Ailenin düzeltilmesidir. Ailenin düzeltilmesi ise, genç kızın, kadının düzeltilmesiyle başlar. Çünkü kadın dünyanın öğreticisidir. Çünkü kadın sağ eliyle beşiği sallarken, sol eliylede dünyayı sallamaktadır.
            </div>
            <div class="onecikanlar-action">
                <a href="#"><i class="far fa-comment"></i></a>
                <a href="#"> <i class="fas fa-retweet"></i> </a>
                <a href="#"> <i class="far fa-heart"></i></a>
            </div>
        </div>

    </div>

    @Html.Partial("~/Views/Sidebar/Sidebar.cshtml")
</div>
