<link href="~/Content/Kisiprofil.css" rel="stylesheet" />

<div class="profile">
    <div class="profile-information">
        <div class="cover-photo"><img class="cphoto" src="~/cover-photo.jpg" alt="Alternate Text" /></div>
        <div class="profilephoto"><img class="pphoto" src="~/avatar.png" alt="Alternate Text" /></div>

    </div>

    <div class="profile-sharing">

    </div>
</div>
