.layout3 {
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.layout3 .layout3-child {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-right:10px;
}

    .layout3 .layout3-child a {
        margin-bottom: 9px;
        font-size:15px;
    }

.kitaplik:target ~ #hidden {
    width: 100%;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: red;
}

.duvar:target ~ #hidden1 {
    width: 100%;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: red;
}

#hidden {
    width: 100%;
    height: 5px;
}

#hidden1 {
    width: 100%;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: red;
}
