
body {
    background-color: rgb(240, 242, 245);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 1rem 20rem;
}

.kullanimsartlari-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 25px;
    height: 90vh;
    flex: 2;
    background-color: rgba(255,255,255,1.00);
    border: 1px solid rgba(224,224,224,1.00);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

    .kullanimsartlari-menu .secili {
        margin-top: 10px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .kullanimsartlari-menu h2 a:hover {
        cursor: pointer;
    }

    .kullanimsartlari-menu div {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

        .kullanimsartlari-menu div a {
            margin-top: 10px;
            font-family: 'Roboto', sans-serif;
        }


.kullanimsartlari-box {
    display: flex;
    flex-direction: column;
    height: 90vh;
    flex: 7;
    background-color: rgba(255,255,255,1.00);
    border: 1px solid rgba(224,224,224,1.00);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 50px 40px;
}

    .kullanimsartlari-box p {
        margin-top: 30px;
        font-family: 'Roboto', sans-serif;
        line-height: 25px;
    }


    .kullanimsartlari-box a {
        text-align: start;
        font-size: 22px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        line-height: 25px;
    }

        .kullanimsartlari-box a:hover {
            cursor: pointer;
        }
