.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 1rem 20rem;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 7;
    height: 800px;
    margin-right: 25px;
    overflow:auto;
}
::-webkit-scrollbar {
    display: none;
}

.form-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8vh;
    margin: 10px 0;
    padding: 1em 1.6em;
    background-color: rgba(255,255,255,1.00);
    border: 1px solid rgba(224,224,224,1.00);
    border-bottom-width: 0.05em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .form-title a {
        font-size: 20px;
        font-weight: bold;
    }

.form-signin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(255,255,255,1.00);
    height: 800px;
    padding: 0 1.5em;
    border: 1px solid rgba(224,224,224,1.00);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow:auto;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    padding: 0 1.5em;
    border: 1px solid rgba(224,224,224,1.00);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    #name input {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 35px;
        border: 0px;
    }

    #name p {
        padding-top: 7px;
        display: inline-block;
        font-weight: bold;
    }


    #name input:focus #name-label {
        color: red;
    }

#eposta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    padding: 0 1.5em;
    border: 1px solid rgba(224,224,224,1.00);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    #eposta input {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 35px;
        border: 0px;
    }

    #eposta p {
        padding-top: 7px;
        display: inline-block;
        font-weight: bold;
    }

#username {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    padding: 0 1.5em;
    border: 1px solid rgba(224,224,224,1.00);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    #username input {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 35px;
        border: 0px;
    }

    #username p {
        padding-top: 7px;
        display: inline-block;
        font-weight: bold;
    }


.password {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    padding: 0 1.5em;
    border: 1px solid rgba(224,224,224,1.00);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .password input {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 35px;
        border: 0px;
    }

    .password p {
        padding-top: 7px;
        display: inline-block;
        font-weight: bold;
    }

.cinsiyet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    padding: 0 1.5em;
    border: 1px solid rgba(224,224,224,1.00);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .cinsiyet p {
        padding-top: 7px;
        font-weight: bold;
    }

#format {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    flex: 1;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

    #format::-ms-expand {
        display: none;
    }

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
}

    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 176px;
        cursor: pointer;
        pointer-events: none;
        transition: .25s all ease;
    }


#birthday {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    padding: 0 1.5em;
    border: 1px solid rgba(224,224,224,1.00);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    #birthday input {
        height: 500px;
        border: 0px;
    }

        #birthday input:active {
            color: red;
        }

    #birthday p {
        padding-top: 7px;
        display: inline-block;
        font-weight: bold;
    }

    #birthday div {
        padding: 7px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

        #birthday div select {
            border: 0;
            margin-right: 15px;
        }



.form-text {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #EBEBEB;
    width: 100%;
    height: 60px;
    padding: 0 1.5em;
    border: 1px solid rgba(224,224,224,1.00);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .form-text p {
        font-size: 14px;
        font-weight: 400;
        font-family: Roboto, sans-serif;
    }

    .form-text span {
        color: #C80000;
    }

.Kbutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Kbutton button{
    height: 30px;
    width: 100px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    text-align: center;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: rgba(232, 16, 16, 0.87);
}
