
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/login.css" rel="stylesheet" />

<div class="container">
    <div class="login">
        <div class="login-title">
            <a href="Login">Giriş Yap</a>
        </div>
        <div class="form-login">
            <div class="user">
                <div class="user-name">
                    <p class="user-name-label">E-posta veya kullanıcı adınız* </p>
                    <input class="user-input" type="text" placeholder="E-posta veya kullanıcı adı" name="name" value="" />
                </div>
                <div class="user-password">
                    <p class=" user-password-label">Şifreniz*</p>
                    <b><input class="user-input" type="text" placeholder="Şifreniz" name="name" value="" />   </b>
                </div>
                <div class="buttons">
                    <button>ŞİFREMİ UNUTTUM</button>
                    <button>GİRİŞ YAP</button>
                </div>
            </div>
        </div>
        <div class="form-text">
            <p>Giriş yaparak ve 1000Kitap'ı kullanarak <span>1000Kitap Kullanım Şartlarını</span> ve <span style="color: #C80000">Topluluk Kurallarını</span> kabul ettiğinizi beyan etmiş olursunuz. </p>
        </div>
    </div>
    @Html.Partial("~/Views/Sidebar/Sidebar.cshtml")
</div>


