
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Anasayfa.css" rel="stylesheet" />

<div class="container">
    <div class="home-page">
        <a href="Home"><i class="fas fa-home flex"></i></a>
        <h1>Akış</h1>
        <p>Akış, 1000Kitap'ta takip ettiğiniz okurlardan, kitaplardan ve yazarlardan son paylaşımların yer aldığı sayfadır.</p>
        <a href="Login">Giriş Yap</a>
    </div>
    @Html.Partial("Sidebar")

</div>